openapi: 3.1.0
info:
  title: Observed AWS Documentation Search API
  version: 2026-09-01-observed
  description: |
    Reverse-engineered contract observed from the AWS documentation search UI and
    direct probes. This is not an AWS-published API specification and has no
    compatibility guarantee.
servers:
  - url: https://proxy.search.docs.aws.com
paths:
  /search:
    options:
      summary: CORS preflight
      responses:
        "204":
          description: Allows POST
    post:
      summary: Search indexed AWS documentation
      operationId: searchAwsDocumentation
      parameters:
        - name: session
          in: query
          required: false
          description: Optional opaque value. UUID and non-UUID values were accepted; omission produced the same top-ten ordering in probes.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            examples:
              efficientRawText:
                value:
                  textQuery:
                    input: DynamoDB global secondary index
                  contextAttributes:
                    - key: domain
                      value: docs.aws.amazon.com
                  acceptSuggestionBody: RawText
                  locales:
                    - en_us
                  maxResults: 10
              filtered:
                value:
                  textQuery:
                    input: EKS Pod Identity
                  contextAttributes:
                    - key: domain
                      value: docs.aws.amazon.com
                    - key: aws-docs-search-product
                      value: Amazon EKS
                    - key: aws-docs-search-guide
                      value: User Guide
                  acceptSuggestionBody: RawText
                  locales:
                    - en_us
                  maxResults: 10
      responses:
        "200":
          description: Search completed. Zero matches are represented by empty arrays, not 404.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Invalid JSON, missing required structure, unsupported locale/body mode, or invalid maxResults.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Invalid request body
        "502":
          description: Observed for a numeric textQuery.input instead of a string.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    SearchRequest:
      type: object
      required:
        - textQuery
        - contextAttributes
      additionalProperties: true
      properties:
        textQuery:
          type: object
          required:
            - input
          additionalProperties: true
          properties:
            input:
              type: string
              minLength: 1
              pattern: ".*\\S.*"
        contextAttributes:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ContextAttribute"
          description: Include domain=docs.aws.amazon.com. Product and guide facets can be appended as additional attributes.
        acceptSuggestionBody:
          type: string
          enum:
            - RawText
          description: RawText returns plain excerpts. When omitted, observed responses used highlighted HTML snippets.
        locales:
          type: array
          maxItems: 1
          items:
            type: string
            enum:
              - de_de
              - en_us
              - es_es
              - fr_fr
              - id_id
              - it_it
              - ja_jp
              - ko_kr
              - pt_br
              - zh_cn
              - zh_tw
          description: Zero or one locale was accepted; two locales and unknown locales returned 400.
        identityID:
          description: Optional client identity used by the web frontend. A string is recommended; string and numeric values were accepted and may affect ranking.
          oneOf:
            - type: string
            - type: number
        maxResults:
          type: integer
          minimum: 1
          maximum: 100
          description: Controls the number of suggestions returned. This is result limiting, not pagination; no continuation token was returned.
    ContextAttribute:
      type: object
      required:
        - key
        - value
      additionalProperties: false
      properties:
        key:
          type: string
          examples:
            - domain
            - aws-docs-search-product
            - aws-docs-search-guide
        value:
          type: string
    SearchResponse:
      type: object
      required:
        - queryId
        - suggestions
        - facets
      additionalProperties: true
      properties:
        queryId:
          type: string
        suggestions:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/Suggestion"
        facets:
          type: object
          required:
            - aws-docs-search-guide
            - aws-docs-search-product
          additionalProperties: true
          properties:
            aws-docs-search-guide:
              type: array
              items:
                type: string
            aws-docs-search-product:
              type: array
              items:
                type: string
    Suggestion:
      type: object
      required:
        - textExcerptSuggestion
      additionalProperties: true
      properties:
        textExcerptSuggestion:
          $ref: "#/components/schemas/TextExcerptSuggestion"
    TextExcerptSuggestion:
      type: object
      required:
        - link
        - title
        - suggestionBody
        - context
      additionalProperties: true
      properties:
        link:
          type: string
          format: uri
        title:
          type: string
        suggestionBody:
          type: string
          description: Plain text with acceptSuggestionBody=RawText; highlighted HTML when that field is omitted.
        summary:
          type:
            - string
            - "null"
        context:
          type: array
          items:
            $ref: "#/components/schemas/ContextAttribute"
        sourceCreatedAt:
          type: integer
        sourceUpdatedAt:
          type: integer
        isCitable:
          type: boolean
    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
